//- extends layout //- block content //- h1= title //- p Welcome to #{title} //-
ul each message in messages //- li strong User: #{message.user} //- br //- |
Text: #{message.text} //- br //- | Date: #{message.date}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0"
    />
    <title><%= title %></title>
  </head>
  <body>
    <h1><%= title %></h1>
    <ul>
      <% messages.forEach(message => { %>
      <li>User: <%= message.user %></li>
      <li>Text: <%= message.text %></li>
      <li>Date: <%= message.added %></li>
      <% }); %>
    </ul>
  </body>
</html>
